*.so
*.pyc
*.suo
*.dll
*.pyd
*.lib
*.egg-info
.pytest_cache
.cache
build-*
libqi-python/lib/**
libqi-python/build/**
libqi-python/share/**
libqi-python/include/**
libqi-python/setup.cfg
libqi-python/qi/version.py
